@import "settings";
@import "foundation.scss";


header {
  @include grid-row;

  .logo  { @include grid-column($columns:3, $center:true); }
  padding-bottom: em-calc(10px);

}


.main-content {
  @include grid-row;

  aside  {
    @include grid-column($columns:6);
    // @media #{$medium-up} {
    //   @include grid-column($columns:3);
    // }
  }

  article  {
    @include grid-column($columns:6);
    // @media #{$medium-up} {
    //   @include grid-column($columns:8, $offset: 1);
    // }
  }

}

body {
  font-family: 'Oswald', sans-serif;
}

ul {
  font-family: open sans, sans-serif;
}

.left {
  font-family: open sans, sans-serif;
}

table {
    font-family: open sans, sans-serif;
}

h3 {
    font-family: open sans, sans-serif;
}

a {
      font-family: open sans, sans-serif;
}

.title-area {
  font-family: 'Oswald', sans-serif;
}

.navbar {
  background-color: green;
}