body{
    background-image: url(images/tiny_grid.png);
};

.top-bar {
      opacity: 0.9;
};

.panel {
    opacity: 0.7;
}

.panel {
    display:none
};



ul {
    list-style-type: none;
};

li {
    display: inline;
}

img {
    height: 100px;
    width: auto;
}
