#address {
  border-radius: 5px;
}

.search-button {
  border-radius: 10px;
}

.highcharts-container {
/*  background:transparent;
  border-radius: 10px;
  background-color: blue;
*/}

.grid {
  transition: background 0.5s ease;
  background:rgba(255,255,255,0.5);

  &.undocked {
    transition: background 0.5s ease;
    background:rgba(155,179,191, .5);
  }
}

.top-bar {
  background:transparent;

  transition: padding-top 0.5s ease;
  padding-top:20px;

  transition: height 0.5s ease;
  height:96px;
  .name h1 a {
    transition: color 0.5s ease;
    color:rgba(0, 0, 0, 1);
  }
}
.undocked .top-bar {
  transition: height 0.5s ease;
  height:66px;
  transition: padding-top 0.5s ease;
  padding-top:10px;
  .name h1 a {
    transition: color 0.5s ease;
    color:rgba(252, 252, 252, 1);
  }
}

.top-bar-section li a:not(.button) {
  background:transparent;
}
.undocked .top-bar-section li:not(.has-form) a:not(.button) {
  background:transparent;
}

.top-bar-section ul li {
  background:transparent;
  & > a {
    transition: color 0.5s ease;
    color:rgba(0, 0, 0, 1);
  }
}
.undocked .top-bar-section ul li {
  background:transparent;
  & > a {
    transition: background 0.5s ease;
    color:rgba(252, 252, 252, 1);
  }
}

.top-bar {
      opacity: 0.9;
};

.tab-bar {
  background: none;
}


.panel {
    opacity: 0.9;
}

.panel {
    display:none;
};


ul {
  text-align: center;
  list-style-type: none;
};

li {
/*    display: inline;
*/}

/*.yo
  border: 1px solid black;
}

*/.compass {
    color: black;
}

img {
    height: 100px;
    width: auto;
    border-radius: 25px;
}

#profile-pic {
  display: block;
  margin: 15px auto;
  height: 150px;
  width: auto;
  border-radius: 75px;
}

#thumbnail {
  height: 40px;
  width: auto;
}

#thumbnail-link {
  background: transparent;
}

.profile-list {
  text-align: center;
  margin: 15px auto;
  display: block;
}

h3 {
  text-align: center;
  display: block;
  margin: 15px auto;
}

p {
/*  text-align: center;
*/  display: block;
  margin: 15px auto
}

footer {
  background-color: rgba(155,179,191, .5);

}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("images/redox_01.png");
}
section.module.parallax-2 {
  background-image: url("images/redox_02.png");
}
section.module.parallax-3 {
  background-image: url("images/solid.png");
}

section.module.parallax-4 {
  background-image: url("images/redox_02.png");
}

@media all and (min-width: 600px) {
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

#chart-one {
  background-color: transparent;
}

/* Reset ----------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, div, span, h1, h2, h3, p, a, form, nav, li, ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}
ul {
  list-style-type: none;
}
img {
  border: 0;
}
body {
  color: #444;
  font-size: 100%;
  background: #fff;
  line-height: 1.5em;
  font-family: 'Lucida Grande', sans-serif;
}
.left {
  float: left;
}
.right {
  float: right;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.pointer {
  cursor: pointer;
}
.wrapper {
  position: relative;
  margin: 0 auto;
}
.pad {
  padding: 1em;
}

.slidernav {
  background-color: transparent;
  color: black;
}
.orbit-timer {
  display:none;
}

#timeline {
  height: 50px;
}



g.highcharts-axis {
  display: none;
}