/* parallax background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}
.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}


/* visual styles */
body{
    margin:0;
    font-family: 'Lucida Grande', sans-serif;
    line-height:100px;
  color:#ffffff;
}
section {
  background:blue;
}

 .first-parallax {
 border: solid 5px;
 }

 .second-parallax {
 border: solid 5px;
 }

 .third-parallax {
 border: solid 5px;
 }

 .fourth-parallax {
 border: solid 5px;
 }


#address {
  border-radius: 5px;
}

.search-button {
  border-radius: 10px;
}

.panel {
    opacity: 0.9;
    display:none;

}


ul {
  list-style-type: none;
};

li {
    color: black;
}



img {
    height: 100px;
    width: auto;
    border-radius: 25px;
}

#profile-pic {
  display: block;
  margin: 15px auto;
  height: 150px;
  width: auto;
  border-radius: 75px;
}

#thumbnail {
  height: 40px;
  width: auto;
}

#thumbnail-link {
  background: transparent;
}

.profile-list {
  text-align: center;
  margin: 15px auto;
  display: block;
}

h3 {
  text-align: center;
  display: block;
  margin: 15px auto;
}

.slidernav {
  background-color: transparent;
  color: black;
}
.orbit-timer {
  display:none;
}

#timeline {
  height: 50px;
}

.grid {
  transition: background 0.5s ease;
  background:black;

  &.undocked {
    transition: background 0.5s ease;
    background:rgba(255,255,255,0.1);
  }
}

.top-bar {
  background:transparent;

  transition: padding-top 0.5s ease;

  transition: height 0.5s ease;
  .name h1 a {
    transition: color 0.5s ease;
    color:white;
  }
}
.undocked .top-bar {
  .name h1 a {
    transition: color 0.5s ease;
    color:rgba(black, .8);
  }
 .white {
  color: black;
 }
 .name dl dd a{
  color:black;
 }
}

.top-bar-section li a:not(.button) {
  background:transparent;
}
.undocked .top-bar-section li:not(.has-form) a:not(.button) {
  background:transparent;
}

.top-bar-section ul li {
  background:transparent;
  & > a {
    transition: color 0.5s ease;
    color:rgba(0, 0, 0, 1);
  }
}


.menu-icon {
  background:transparent;
  & > a {
    transition: color 0.5s ease;
    color:rgba(0, 0, 0, 1);
  }
}

.undocked .top-bar-section ul li {
  background:transparent;
  & > a {
    transition: background 0.5s ease;
    color:rgba(255, 255, 255, 1);
  }
}

.top-bar {
      opacity: 0.9;
      background: none;
};

.form-border {
  background:transparent;
}

.panel {
    opacity: 0.9;
}

.panel {
    display:none;
};
