/* line 1, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.section-headline {
  font-family: 'Oswald', sans-serif;
  padding: 20px 0px; }

/* line 6, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.inactive {
  color: grey; }

/* line 10, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.legislator-profile {
  margin: 0 auto; }

/* line 15, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.reveal-modal li {
  list-style: none;
  font-size: 20px;
  text-align: center; }

/*  .reveal-modal:after {
    content: ' ';
    display: block;
    clear: both;
  }
*/
/* line 30, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.page-background {
  /*  background-image: url("images/tiny_grid.png");
  */ }

/* line 34, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.first-parallax {
  background-color: #d5ded9; }

/* line 38, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.second-parallax {
  /* background-color:rgb(153,178,183);
  */ }

/* line 42, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.third-parallax {
  background-color: #d5ded9; }

/* line 46, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.fourth-parallax {
  /* background-color: rgb(217,206,178);
  */ }

/* line 50, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.fifth-parallax {
  background-color: #d5ded9; }

/* line 54, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.section-headline {
  text-align: center; }

/* line 59, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
#address {
  border-radius: 5px;
  font-family: open sans; }

/* line 65, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.search-button {
  border-radius: 10px;
  background-color: #539370; }

/* line 70, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.button:hover, .button:focus {
  background-color: #60997a; }

/* line 74, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.panel {
  opacity: 0.9;
  display: none; }

/* line 81, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
ul {
  list-style-type: none; }

/* line 85, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
li {
  color: black; }

/* line 90, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.tabs {
  font-family: open sans, sans-serif; }

/*.paginate-button {
  border:none;
  border-radius: 10px;
}*/
/* line 99, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
img {
  height: 100px;
  width: auto;
  border-radius: 20px; }

/*.logo {
  height: 60px;
  width: 60px;
}*/
/* line 110, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.logo {
  font-size: 10px; }

/* line 114, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
#profile-pic {
  display: block;
  margin: 10px auto;
  /*  height: 137px;*/
  height: 200px;
  width: auto;
  border-radius: 50%; }

/* line 123, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
#thumbnail {
  height: 40px;
  width: auto;
  background: transparent; }

/* line 129, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
#thumbnail-link {
  background: transparent; }

/* line 133, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.profile-list {
  text-align: center;
  font-family: open sans, sans-serif;
  margin: 20px auto;
  display: block; }

/* line 140, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.left {
  font-family: open sans; }

/* line 144, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
h3 {
  text-align: center;
  display: block;
  margin: 15px auto; }

/* line 150, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.slidernav {
  background-color: transparent;
  color: black; }

/* line 154, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.orbit-timer {
  display: none; }

/* line 158, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
#timeline {
  height: 50px; }

/* line 163, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.top-bar {
  opacity: 0.9;
  background: none; }

/* line 168, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.form-border {
  background: transparent; }

/* line 172, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.panel {
  opacity: 0.9; }

/* line 176, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.panel {
  display: none; }

/* line 181, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.sub-nav dd.active a {
  background: #d5ded9; }

/* line 185, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
[data-magellan-expedition], [data-magellan-expedition-clone] {
  background: #f7f7f7;
  z-index: 50;
  min-width: 100%;
  padding: 1px; }

/* line 193, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.top-bar h1 a {
  font-weight: bold;
  font-size: 50px;
  color: white;
  font-family: 'Cabin Sketch', cursive;
  width: 75%;
  display: block;
  padding: 0 15px; }

/* line 203, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.left.name h1 {
  font-weight: bold;
  font-size: 40px;
  color: white;
  font-family: 'Cabin Sketch', cursive;
  width: 75%;
  display: block;
  padding: 0 15px; }

/* line 213, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.top-bar-section .has-form {
  background: none;
  padding: 0 15px;
  height: 45px; }

/* line 221, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.sub-nav {
  margin: 0 auto !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

/* line 228, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.magellan-nav {
  right: 0; }

/* line 232, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.contain-to-grid {
  background-image: url("images/simple_dashed.png");
  padding: 20px; }

/* line 237, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.right.li {
  background-color: transparent; }

/* line 241, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.top-bar.expanded .title-area {
  background: none; }

/* line 245, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
ul, ol, dl {
  font-size: 1.1rem;
  text-align: center; }

/* line 250, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.hidden {
  display: none; }

/* line 254, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.industry-specific-placeholder {
  text-align: center;
  color: #495058; }

/* line 259, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
h5 {
  color: #7f9ea1;
  font-weight: 700; }

/* line 266, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
table {
  table-layout: fixed; }

/* line 270, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
th {
  border: 1px solid #DDD;
  padding: 0.25em;
  overflow: hidden;
  max-width: 10%; }

/* line 278, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333333 !important;
  /*border: 1px solid #cacaca;
  */
  background-color: white;
  background: none; }

/* line 285, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.orbit-container .orbit-prev > span {
  border-right-color: transparent; }

/*td:nth-child(2){
  overflow: hidden;
  max-width: 100px;
}*/
/* line 295, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.full-width {
  max-width: 1400px; }

/* line 299, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.footer {
  background-color: #f7f7f7;
  padding: 2rem 4rem;
  text-align: center;
  color: black; }

/* line 305, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.footer i {
  font-size: 100px; }

/* line 309, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.footer h4 {
  color: black;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px; }

/* line 317, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: black; }

@media only screen and (min-width: 40.063em) {
  /* line 324, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 280px; } }
/* line 329, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.footer-links {
  list-style-type: none; }

/* line 332, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.footer-links li {
  margin-top: .5em; }

/* line 336, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
.fi-torso {
  color: white; }

/* line 340, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
p {
  padding: 15px; }

/* line 344, /Users/Will/TIY/middleman-zurb-foundation/source/stylesheets/style.css.scss */
footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  padding: inherit;
  padding-top: 10px;
  color: black; }
