

<!-- Navigation -->
<!-- <div class="row">
 -->  <div class="contain-to-grid grid fixed">
  <nav class="top-bar data-topbar" role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#" id="logo"> COMPASS</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>



    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li>
          <div class="row collapse ">
            <div class="large-8 small-9 columns ">
              <form action="http://requestb.in/t9jg5xt9"  method="get">
                <input  type="text"  name="address" id="address" placeholder="Enter your address">
              </div>
              <div class="large-4 small-3 columns">
                <a href="#" class="right button radius active" id="location-button"><i class="fa fa-search"></i></a>
              </form>
            </div>
          </li>
        </ul>

<!--               <section class="right-small">
        <a class="toggle-top-bar menu-icon item right-off-canvas-toggle" href="#"><span></span></a>
      </section>
 -->

<div class="left">
  <dl class="tab-bar sub-nav" data-magellan-expedition>
  <dd data-magellan-arrival="section-one"><a href="#one">Section 1</a></dd>
  <dd data-magellan-arrival="section-two"><a href="#two">Section 2</a></dd>
  <dd data-magellan-arrival="section-three"><a href="#three">Section 3</a></dd>
  <dd data-magellan-arrival="section-four"><a href="#four">Section 4</a></dd>

</dl>
</div>
</section>
</nav>

<div class="panel">
      <ul class="row">
        <div class="legislator-list"  id="legis-select" data-id></div>
      </ul>
    </div>
  </div>

  <section class="module parallax parallax-1">
    <div class="container">
      <a name="one"></a>
      <h1 data-magellan-destination="section-one"></h1>

<br>
<br>
<br>
<br>
 <div class="legislator-profile">

 </div>
  </section>

  <section class="module parallax parallax-2">
    <div class="container">
      <a name="two"></a>
      <h1 data-magellan-destination="section-two">Section 2</h1>
    </div>
  </section>


  <section class="module parallax parallax-3">
    <div class="container">
      <a name="three"></a>
      <h1 data-magellan-destination="section-three">Section 3</h1>
    </div>
  </section>

  <section class="module parallax parallax-4">
    <div class="container">
      <a name="four"></a>
      <h1 data-magellan-destination="section-four">Section 4</h1>
    </div>
  </section>

  <footer>
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <h4>Footer Content</h4>
      </div>
    </div>
  </footer>


<!-- <script type="text/template" id="profile">

            <h2><%%= party %></h2>
            <img src="<%%= picture_url %>">
            <p> <%%= bioguide_id %></p>
            <p ><%%= twitter_id %></p>

  </script> -->