<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#" class="compass">Compass</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">

      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="#">Funding</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="#">Legislators</a>
        <ul class="dropdown" class ="legislator-list">
        </ul>
      </li>
      <li class="divider"></li>


      <li class="has-form">
        <div class="row collapse">
          <div class="large-8 small-9 columns">
            <form action="http://requestb.in/t9jg5xt9"  method="get">
              <input type="text" name="address" id="address" placeholder="Enter your address">
            </div>
            <div class="large-4 small-3 columns">
              <a href="#" class="right button active success"id="location-button">Submit</a>
            </form>
          </div>
        </li>
      </ul>
    </section>
  </nav>

  <div class="panel">
 <ul>
        <li><div class="legislator-list"></div></li>
        </ul>
</div>
