<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">


    <aside class="right-off-canvas-menu">
        <ul class="off-canvas-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Yes I know I'm lazy when it comes to dummy menu items</a></li>
        </ul>
    </aside>

    <div class="sticky">
      <nav class="top-bar tab-bar"  data-topbar role="navigation">

        <ul class="title-area">
          <li class="name">
            <h1>Compass</h1>
          </li>
        </ul>

      <section class="right-small">
        <a class="toggle-top-bar menu-icon item right-off-canvas-toggle" href="#"><span></span></a>
      </section>



        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right offset-5">
            <li class="has-form">
              <div class="row collapse ">
                <div class="large-8 small-9 columns ">
                  <form action="http://requestb.in/t9jg5xt9"  method="get">
                    <input type="text"  name="address" id="address" placeholder="Enter your address">
                </div>
                    <div class="large-4 small-3 columns">
                        <a href="#" class="right button radius active success" id="location-button"><i class="fa fa-search"></i></a>
                  </form>
                  </li>
                      </div>
            </ul>




            <div class="right">
<!--               <dl class="tab-bar sub-nav" data-magellan-expedition>
                <dd data-magellan-arrival="section-one"><a href="#one">Section 1</a></dd>
                <dd data-magellan-arrival="section-two"><a href="#two">Section 2</a></dd>
                <dd data-magellan-arrival="section-three"><a href="#three">Section 3</a></dd>
                <dd data-magellan-arrival="section-four"><a href="#four">Section 4</a></dd>
              </dl>
 -->
          </section>


        </nav>
        </div>


        <div class="row">
          <h1>Example of Off Canvas Navigation with Icon Bar Navigation</h1>
          <h3>This is an example of off canvas navigation and icon bar navigation from <a href="http://foundation.zurb.com/">Foundation by ZURB</a> fused together.</h3>
          <h4>Take a look at the code to get an idea on how to use it.</h4>
        </div>
        <a class="exit-off-canvas"></a>
      </div>
    </div>


